{
    "algorithm": "bayes",
    #random

    # Declare your hyperparameters in the Vizier-inspired format:
    "parameters": {
        "IniDecay": {"type": "float", "min": 0, "max": 0.1},
        "CoesLR": {"type": "float", "min": 0, "max": 0.05},
        "dataset": {"type": "categorical", "values": [
         "cifar100",
        ]},
    },
    #"float", "min": 0, "max": 2
    # Declare what we will be optimizing, and how:
    "spec": {
    "metric": "Test_SumDatasets",
        "objective": "maximize",
    },
    #'trials': 3,
    #"experiment_class": "OfflineExperiment",
    #"api_key": "KbJPNIfbsNUoZJGJBSX4BofNZ",
    #SumTest
}