{
    # We pick the Bayes algorithm:
    "algorithm": "bayes",

    # Declare your hyperparameters in the Vizier-inspired format: 
    "parameters": {
        "settings": {"type": "categorical", "values": [
            "BnReluConvConvStride2ResLikeExpDecayLearnDecay_PowExp",        
            ]},
        "data": {"type": "categorical", "values": [
        "cifar10",          
        ]},
    },
    #"BnReluConvConvStride2ResLike_Default_tuning",
    #"BnReluConvConvStride2ResLikeShareExpDecayLearnDecayLearnBal_RealLearn", #"BnReluConvConvStride2ResLikeExpDecayLearnDecayLearnBal_RealLearn", #"BnReluConvAllEleShareExpDecayLearnDecayLearnBal_RealLearn",#"BnReluConvAllEleExpDecayLearnDecayLearnBal_RealLearn"
    # Declare what we will be optimizing, and how:
    "spec": {
    "metric": "Natural_add_Pertur",
        "objective": "maximize",
    },
    'trials': 3,
}